/* i like this color palette :)
   #042A2B, #5EB1BF, #CDEDF6, #EF7B45, #D84727 
 */

 html, body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    background-color: #042A2B;
}

body {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 10px;
}

a:any-link {
    color: #D84727;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #CDEDF6;
    opacity: 0.7;
}