 html {
    font-family: 'Courier New';
    margin: 0px;
    padding: 0px;
    background-color: #042A2B;
}

* {
    margin: 0;
    padding: 10px;
}

a:any-link {
    color:  #042A2B;
    padding: 0px;
}

.container {
    /* Center container on page. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Container content formatting. */
    width: 80%;
    padding: 20px;
    background-color: #CDEDF6;
    opacity: 0.7;
}